.pageTransion{
   display: flex;
   width: 200vw;
   height: 100vh;
   animation: transition 600ms forwards ease-in-out;
   overflow-x: auto;
   scroll-behavior: smooth;
   position: relative;
 
}

.pageIn{
      flex:1;
    
}

.pageOut{
    flex:1;
   
}

// add animation of pageTransion moving to the right


@keyframes transition{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}