.statement {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__bubble{
        &__text{
            cursor: pointer;
        }
        &__more{
            margin-top: 15px;
            margin-bottom: -3px;
            opacity: 0.7;
            .icon{
                cursor: pointer;
                user-select: none;
            }
        }
    }

    &__chatCard {
        display: flex;
        gap: 10px;

        &__main {
            flex: auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;

            &--me {
                border-radius: 10px 10px 0px 10px;
                background-color: #bcefbc;
            }

            &--other {
                border-radius: 10px 10px 10px 0px;
                background-color: #e0e0e0;

            }
        }


        &--other {

            flex-direction: row-reverse;
        }

        &__profile {
            // position: absolute;
            // top: -5px;
            // right: -20px;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-color: teal;
            background-size: contain;
        }




    }


    &__input {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 5px;
        box-sizing: border-box;

        align-items: center;
        background: linear-gradient(90deg, rgba(232,232,232,0) 0%, rgba(232,232,232,1) 35%, rgba(232,232,232,1) 100%);

        >* {
            margin: 5px;
        }

        button {

            width: 60px;
            height: 60px;
            border: none;

            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                transform: rotate(180deg) translateX(16px);
            }

        }

        textarea {
            border-radius: 30px;
            min-height: 5ch;
            flex: auto;
            padding: 5px 15px;
            color: gray;
            resize: none;
            outline: none;
        }
    }
}

.bubble {
    --r: 25px;
    /* the radius */
    --t: 30px;
    /* the size of the tail */
    border-radius: 10px 10px 10px 0px;
    max-width: 300px;
    padding: calc(2*var(--r)/3);
    background-color: aqua;
    color: #fff;

    //on mobile max width should be limeted
    @media only screen and (max-width: 600px) {
        max-width: 200px;
    }
}

.left {
    border-radius: 15px 15px 15px 0px;
    background-color: #61b4e4;
}

.right {


    border-radius: 15px 15px 0px 15px;
    background-color: #39c89b;
}